.Board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* width: 60%; */
}

.Table {
  border-spacing: 1px;
  box-shadow: 0 2px 3px 0 rgba(35, 35, 35, 0.372);
}

