.Chat {
  width: 400px;
  height: 70%;
  background-color: rgb(229, 236, 242);
  box-shadow: 0 2px 3px 0 rgba(35, 35, 35, 0.372);
  border-radius: 5%;
}

.Chat-Message-Container {
  height: 90%;
  width: 100%;
  background-color: rgb(229, 236, 242);
  overflow-y: scroll;
  border-radius: 5%;
}

.Chat-Title {
  text-align: center;
}

.Chat-Message-Box {
  display: block;
  list-style: none;
  padding: 0;
}

.Chat-username {
  font-style: italic;
  color:rgb(60, 58, 59);
  margin: 0 5px;
}

.Chat-Message {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  overflow: break-word;
}

.Opponent-Chat-Message {
  background-color: rgb(190, 215, 250);
}

.Input-Container {
  height: 10%;
  display: flex;
  align-items: center;
}

.inputMessage {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputMessage input {
  width: 70%;
}