.Chat {
  text-align: center;
  width: 40%;
  background-color: azure;
  position: relative;
}

.Chat-title {
  color: blue;
}

.Chat-Message-Box {
  display: block;
  list-style: none;
  padding: 0;
}

.Chat-Message {
  background-color: white;
}

:nth-child(even).Chat-Message {
  background-color: aliceblue;
}

.inputMessage {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 5%;
}

.inputMessage input {
  width: 50%;
}