.CreateGame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
}

.CreateGame form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 40%;
  background-color: rgba(114, 168, 230, 0.728);
  border-radius: 5%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.CreateGame input {
  margin: 30px 0;
  width: 45%;
  height: 25px;
}

.CreateGame .Submit {
  padding: 5px 10px;
  border-radius: 10%;
  width: 90px;
  height: 30px;
  background-color: rgb(94, 223, 180);
  border: 1px solid rgb(31, 139, 87);
}

.CreateGame .Submit:hover {
  background-color: rgb(98, 240, 193);
}