.EnterUsername, .WaitingRoom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.WaitingRoom {
  font-size: 1.2rem;
}

.EnterUsername label {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
}

.EnterUsername form, .WaitingRoom .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 40%;
  background-color: rgba(114, 168, 230, 0.728);
  border-radius: 5%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.EnterUsername input {
  margin: 30px 0;
  width: 45%;
  height: 25px;
}

.EnterUsername .Submit {
  padding: 5px 10px;
  border-radius: 10%;
  width: 90px;
  height: 30px;
  background-color: rgb(94, 223, 180);
  border: 1px solid rgb(31, 139, 87);
}

.WaitingMessage {
  font-size: 1.8rem;
}

.EnterUsername .Practice {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  width: 90px;
  height: 30px;
  margin-top: 10px;
  font-style: none;
  font-size: 0.9rem;
  background-color: rgb(172, 94, 223);
  border: 1px solid rgb(114, 31, 139);
}

.EnterUsername .Practice a {
  text-decoration: none;
  color: black;
}

.EnterUsername .Submit:hover {
  background-color: rgb(98, 240, 193);
}

.EnterUsername .Practice:hover {
  background-color: rgb(191, 107, 246);
}

.WaitingRoom .copyLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.WaitingRoom .copyLink a {
  padding: 0;
  color: rgb(247, 238, 248);
  font-size: 1.6rem;
}

.WaitingRoom .copyLink a:hover {
  color: rgb(104, 244, 251);
  cursor: pointer;
}

/* Loader CSS */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:hover {
  background: rgb(104, 244, 251);
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}