.GameState {
  width: 300px;
  background-color: rgb(191, 213, 226);
  border-radius: 5%;
  box-shadow: 0 2px 3px 0 rgba(35, 35, 35, 0.372);
  text-align: center;
  position: relative;
}

.GameState .opponentUsername {
  margin-left: 15px;
  text-align: left;
  border-bottom: 1px solid rgba(124, 124, 137, 0.755);
  margin: 0;
  padding: 10px;
}

.GameState .username {
  margin-left: 15px;
  text-align: left;
  border-top: 1px solid rgba(124, 124, 137, 0.755);
  margin: 0;
  margin-top: 15px;
  padding: 10px;
}

.GameState .score {
  padding: 10px;
}

.GameState .state {
  padding: 10px;
}

.GameState .resignButton, .GameState .rematchButton, .GameState .videoButton {
  display: block;
  width: 100%;
  padding: 15px 0;
  border: none;
}

.GameState .resignButton {
  border-top: 1px solid rgba(124, 124, 137, 0.755);
  border-bottom: 1px solid rgba(124, 124, 137, 0.755);
}
.GameState .rematchButton {
  border-bottom: 1px solid rgba(124, 124, 137, 0.755);
}

.GameState .videoButton {
  border-bottom: 1px solid rgba(124, 124, 137, 0.755);
}

.GameState .videoButton:hover {
  background-color:rgba(134, 70, 187, 0.746);
  color: white;
}

.GameState .rematchButton:disabled, .GameState .resignButton:disabled, .GameState .videoButton:disabled {
  background-color: rgb(183, 183, 183);
  color: rgb(96, 95, 95);
}

.GameState .rematchButton:disabled:hover, .GameState .resignButton:disabled:hover, .GameState .videoButton:disabled:hover {
  background-color: rgb(204, 203, 203);
  color: rgb(96, 95, 95);
  cursor:not-allowed;
}

.GameState .rematchButton:hover {
  background-color: rgb(86, 108, 182);
  color: white;
}

.GameState .rematchRequest {
  background-color: rgb(86, 108, 182);
  color: white;
}

.GameState .rematchRequest:hover {
  background-color: rgb(112, 134, 206);
  color: white;
}

.GameState .resignButton:hover {
  background-color: rgb(170, 77, 77);
  color: white;
}

