td.square {
  width: 75px;
  height: 75px;
  position: relative;
  margin: 0;
}

img.piece {
  display: block;
  margin: auto;
  width: 100%;
}

img.capture {
  width: 75px;
  height: 75px;
  background-color: rgb(85, 187, 126);

  background:
    linear-gradient(to right, rgb(85, 187, 126) 4px, transparent 4px) 0 0,
    linear-gradient(to right, rgb(85, 187, 126) 4px, transparent 4px) 0 100%,
    linear-gradient(to left, rgb(85, 187, 126) 4px, transparent 4px) 100% 0,
    linear-gradient(to left, rgb(85, 187, 126) 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, rgb(85, 187, 126) 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, rgb(85, 187, 126) 4px, transparent 4px) 100% 0,
    linear-gradient(to top, rgb(85, 187, 126) 4px, transparent 4px) 0 100%,
    linear-gradient(to top, rgb(85, 187, 126) 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

td.dark {
  background-color: rgb(102, 102, 236);
}
td.light {
  background-color: rgba(114, 168, 230, 0.728);
}
td.selected {
  box-shadow: inset 0px 0px 14px 200px rgba(78, 156, 52, 0.726);
}

td.legal {
  box-shadow: inset 0px 0px 14px 200px rgba(170, 255, 0, 0.726);
}

td.hover {
  box-shadow: inset 0px 0px 14px 200px rgba(78, 156, 52, 0.596);
}

td.inCheck {
  box-shadow: inset 0px 0px 5px 5px rgba(229, 8, 8, 0.91);
}

td.draw {
  box-shadow: inset 0px 0px 5px 5px rgba(245, 221, 3, 0.907);
}

td i {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(78, 156, 52, 0.726);
}

td i.legal {
  display: inline;
}

td.Selector:hover {
  background-color: rgb(188, 188, 188);;
}

